body {
    font-family: arial, sans-serif;
    background-image: url("images/cloudy.jpeg"), linear-gradient(to bottom, rgb(99, 248, 228), rgb(245, 245, 179), rgb(249, 204, 120));
    background-position: 50% 50%;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  h1 {
    color: #f53071;
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    margin-bottom: 0;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #1b5aac;
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
  }
  li::first-letter {
    text-transform: capitalize;
  }
  a {
    text-decoration: none;
  }  
   .app-wrapper {
     max-width: 600px;
    margin: 30px auto;
  }
  .app {
    background-color: #f193ed;
    padding: 20px;
    border: 1px solid #eba6eb;
    border-radius: 5px;
  }
  .where {
    margin-bottom: 20px;
  }
  .weather-temp img {
    margin-right: 5px;
    float: left;
    height: 64px;
    width: 64px;
  }
  .weather-temp strong {
    color: #31fae9;
    font-size: 64px;
    font-weight: 600;
    line-height: 1;
  }
  .weather-temp .units {
    position: relative;
    font-size: 16px;
    top: -34px;
  }
  .weather-temp .active {
    color: #000;
  }
  .forecast {
    margin-top: 20x;
    text-align: center;
  }
  .forecast-date {
    font-size: 16px;
    color: #7c12df;
    font-weight: bold;
  }
  .forecast-temps {
    color: #8d08da;
  }
  .forecast-max-temp {
    font-weight: bold;
  }