body {
    font-family: Cerebri Sans, Helvetica, Arial, sans-serif;
    text-align: center;
    background-image: url("images/cloudy.jpeg"), linear-gradient(to bottom, rgb(99, 248, 228), rgb(245, 245, 179), rgb(249, 204, 120));
    background-position: 50% 50%;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .container {
    border: 2px solid;
    border-color: rgb(0, 255, 255);
    border-radius: 5%;
    background: rgba(0, 247, 247, 0.3);
    margin: 45px 320px;
    
  }
  input {
    display: inline;
    margin: 20px auto;
    padding: 10px;
    color: rgb(110, 13, 15);
    font-size: 18px;
    border-radius: 25% 25% 25% 20%; 
    background-color: rgb(230, 240, 89);
    border: 2px solid;
    width: 180px;
    box-shadow: 2px 2px 2px #034646;
    transition: all 200ms ease-in-out;
    }
  #srch {
      padding: 5px;
      width: 75px;
  }
  input:hover {
    background: rgb(246, 243, 215);
    color: rgb(248, 26, 26);
    cursor: pointer;
    }

  .location {
    font-size: 30px;
    font-weight: 900;
    color: #fff;
    margin: 20px 20px;
    padding-top: 20px;
  }
  
  .degree {
    font-size: 35px;
    margin: 10px 175px;
    font-weight: 600;
    color: rgb(4, 8, 252);
    width: 40%;
    padding-top: 20px;
    padding-right: 0;
  } 
  #today {
    font-size: 50px;
    color: rgb(4, 8, 252);
    text-shadow: 2px 4px 4px rgb(140, 140, 232);
    float: right;
    width: 58%;
    padding-left: 0;
  }
  .weather-condition {
    font-size: 25px;
    font-weight: 900;
    color: rgb(248, 176, 9);
    margin: 10px;
    padding-top: 50px;
  }
   li {
    list-style: none;
    padding: 0;
  }
  .condition-breakdown {
    font-size: 16px; 
    color: #fff;
    font-size: 16px;
    padding-right: 30px;
    padding-top: 20px;
    font-weight: bold;
  }
  .future-weather {
    font-size: 30px;
    color: rgb(248, 26, 26);
    font-weight: 600;
    padding-right: 30px;
    margin: 60px;
  }
  #current {
      background-color: rgba(247, 239, 239, 0.382);
  }
  .icon {
    color: rgb(5, 8, 227);
    padding: 15px 25px;
    text-shadow: 2px 4px 4px rgb(140, 140, 232);
  }
  .future-degrees {
    color: rgb(248, 176, 9);
  }
  a {
    color: #000;
 }
